# Azure Entra ID (hentes fra Azure Portal → App registrations)
NEXT_PUBLIC_AZURE_CLIENT_ID=0c3f7881-1d89-48ba-97b2-88036edfcbd2
NEXT_PUBLIC_AZURE_TENANT_ID=2aea7894-9607-49d1-841c-775b499e2c6f
NEXT_PUBLIC_REDIRECT_URI=http://localhost:3000

# Power BI (hentes fra Power BI Admin Portal)
NEXT_PUBLIC_POWERBI_WORKSPACE_ID=75579B3D-5D10-4ACD-8151-F08C108C5499

# API URL
NEXT_PUBLIC_API_URL=http://localhost:3001
